*~
*.tar
.venv
venv
chassis-sdk/examples/model
*__pycache__
*.egg-info
build
dist
.idea
.DS_Store
scratch

chassisml/examples/keras/*
examples/hugging-face/model/*
local_test_.py
hello-world.txt
*test_sdk.py
*.ipynb_checkpoints/
.vscode
