requests
packaging
chassisml-protobuf
Jinja2 >= 3.1.2
cloudpickle == 2.2.0
grpclib
pyyaml
docker
twine
validators
numpy
pip-tools
#kserve
tox >= 4
flake8 >= 6
pytest >= 7
pytest-cov

mkdocs>=1.3.0
mkdocs-autorefs>=0.4.1
mkdocs-material>=8.1.6
mkdocs-material-extensions>=1.0.3
mkdocs-minify-plugin>=0.6.2
mkdocstrings-python
mkdocs-gen-files
mkdocs-literate-nav

types-requests
