[data-md-color-scheme="chassis"] {
  /* Sets the primary color (i.e., background of top nav) */
  --md-primary-fg-color:       #11284F;

  /* Sets the links color */
  --md-typeset-a-color:        #046aa5;
    /* --md-typeset-mark-color:     #0092DF;
    --md-typeset-kbd-color:      #0092DF; */

  /* Sets the accent color (i.e., links on hover) */
  --md-accent-fg-color:        #024a74;
}


/* Styles the logos section on index.md  */
#logos-container {
  border: none;
  height: 75px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  padding-top: 20px;

  /* just for demo */
  min-width: 612px;
}

.logo-box1,
.logo-box2,
.logo-box3,
.logo-box4 {
  width: 150px;
  height: 125px;
  vertical-align: top;
  display: inline-block;
  zoom: 1
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.logo-box1 img {
  width: 100%;
  padding-top: 20px;
}

.logo-box2 img {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.logo-box3 img {
  height: 80px;
  padding-left: 20px;
}

.logo-box4 img {
  height: 80px;
}


